# Ignore Gradle project-specific cache directory
.gradle
.gradle-user

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# IDE and local machine config
.idea
local.properties

# Crash/memory dumps
*.hprof
